body {
    margin: 0;
}
body * {
    box-sizing: border-box;
}/**/
.header {
    background-color: black;

}
.container {
    max-width: 100%;
    margin: 0 auto;
    /*border: solid;*/
}
.header_container {
    height: 83px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    color: rgb(227, 184, 115);
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin: 0 -5% 0 10%;
}
.header__ul {
    display: flex;
    justify-content: space-evenly;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    list-style: none;
    margin: 0;
    /**/
}
.header__ul li {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    margin-right: 47px;
}
.header__li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header__li a:hover {
    color: #E3B873;
}
.li_item a {
    color: #E3B873;
}
.number {
    color: #E3B873;
    font-size: 11px;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 15px;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
    margin-right: -5%;
}
.number:hover {
    color:#fad59a;
}
.header_btn {
    margin-right: 10%;
}
.button {
    border: 0;
    color: white;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background-color: #E3B873;
    width: 10%;
    height: 50%;/**/
    cursor: pointer;
}
.button:hover {
    background-color: #dda750;
}
.title {
    margin: 0;
    font-family: Yeseva One;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
}
span {
    color:#E3B873;
}
.home_container {
    width: 30%;/**/
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 18%;
    position: relative;
    z-index: 2;
    padding-top: 194px;
    height: 707px;
}
.home {
    height: 707px;
    background-image: url("images/PNG/background1.jpg");
    background-size: cover;
    position: relative;
}
.home::before {
    position: absolute;
    z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 707px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .7);
    /**/
}
.main__text {
    font-family: Nunito Sans;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.main__container_button {
    display: flex;
    justify-content: space-between;
    width: 434px;
    height: 50px;
    /*border: solid;*/
}
.main__button {
    border: 0;
    color: white;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    background-color: #E3B873;
    width: 50%;
    height: auto;/**/
    cursor: pointer;
    margin-right: 5%;
}
.main__button:hover {
    background-color: #dda750;
}
.white {
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 50%;
    height: auto;
    margin: 0;
    box-shadow: none;
}
.white:hover {
    background-color: #ffffff13;
}
.info {
    height: 1074px;
    width: 100%;
    background-color: #131313;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*border: 1px solid #27f7d4;*/
}
.container__block {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*border: 1px solid #2799f7;*/
}
.block {
    margin-top: 10%;
    padding-left: 7%;
    width: 40%;
    height: 53%;
    /*border:solid rgb(82, 71, 21);*/
}
h2 {
    color: #E3B873;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    width: 45%;
    /*border: solid green;*/
}
.info__text {
    color:#FFFFFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    width: 95%;
    /*border: 1px solid rgb(0, 255, 0);*/
}
.section__list {
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
    /*border: 1px solid hotpink;*/
}
.section__list ul {
    padding-bottom: 10%;
    /*border: 1px solid rgb(35, 86, 180);*/
}
.section__list_li {
    width: 40%;
    /*border: 1px solid rgb(241, 211, 41);*/
}
.section__list_subtitle {
    padding-left: 0;
}
.section__list_subtitle li{
    list-style: none;
    color:#FFFFFF;
    font-family: Nunito Sans;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    width: 90%;
   /*border: solid 1px #00ffea;*/
}
/**/
.list_chairs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 5%;
    width: 60%;
    height: 53%;
    /*border: solid 1px rebeccapurple;*/
}
.media__mobile {
    display: none;
}
.city_list {
    color: #FFFFFF4D;
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin-left: 2%;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    justify-content: space-evenly;
    /*border: solid 1px #66ff00;*/
}
.city_list-castom {
    color:#E3B873;
    text-decoration: 1px underline;
    text-underline-offset: 10px;
}
/**/
.chairs__img {
    width: 95%;
    padding-left: 11%;
    margin-top: 5%;
}
.construction {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
    /*border: 1px solid #b5fa9a;*/
}
.group45 {
    width: 12%;
}
.build_container {
    position: relative;
    display: flex;
    width: 43%;
    height: 434px;
    margin: 0;
    padding: 0;
    background-image: url("images/PNG/image 6.png");
    background-repeat: no-repeat;
    /*border: solid 1px #eeec64;*/
}
.build_container::after {
    position: absolute;
    z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.8);
    background-size: contain;
}

.button_img {
    position: absolute;
    z-index: 1;
    width: 85px;
    height: 85px;
    padding: 0;
    margin-top: -17%;
    border-radius: 50%;
    border: none;
    background-color: #E3B873;
    cursor: pointer;
}
.button_img:hover {
    background-color: #dda750;
}
.line2 {
    width: 5%;
    margin-top: 2%;
}
.text_construction {
    text-align: center;
    color: #363636;
    width: 35%;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
}

.input_label {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid #a823234d;*/
}
.input_label input{
    border: none;
    border-bottom: 1px solid #3636364D;
}
.input {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 5%;
}
.input_name {
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #36363680;
}
.input_text::placeholder {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #363636;
}
.submit {
    width: 50%;
    height: 51px;
}


.first-checkbox {
    text-align: center;
    /*margin-top: 3%;*/
}
.label {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.text_checkbox {
    color: #181818;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
/**/
.cont_group422 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.group422 {
    width: 60%;
    margin-top: 5%;
    margin-bottom: -2%;
    padding-top: 0;
}
.product_cards {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: center;
    margin-top: 3%;
    
}
.card {
    display: flex;
    flex-direction: column;
}
.card__container {
    position: relative;
    left: 10%;
    width: 80%;
    height: 300px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
    background-color: #FFFFFF;
    margin-top: -30%;
}
.card__text {
    font-family: Yeseva One;
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10%;
}
.card__list {
    height: 250px;
}
.card__list li {
    font-family: Nunito Sans;
    color: #959595;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.card_button {
    position: relative;
    left: 10%;
    bottom: 3%;
    width: 60%;
    height: 54px;
    font-family: Yeseva One;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}


.container_list {
    margin-top: 10%;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 1px solid;*/
}
.num_list {
    display: flex;
    justify-content: end;
    width: 45%;
    height: 473px;
    margin: 0;
    /*padding: auto 5%;*/
    background-image: url('images/PNG/image 6.11.png');
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: right;
    /*border: 1px solid green;*/
}
ol {
    list-style: none;
    counter-reset: item;
    width: 50%;
    margin-left: 15%;
    /*border: 1px pink solid;*/
}
ol li {
    position: relative;
    padding-left: 19%;
    padding-top: 3%;
    margin-bottom: 17%;
    color: #363636;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
ol li::before {
    content: counter(item, decimal-leading-zero) "";
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 8px solid #FFFFFF;
    background: #f6c88c; 
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One;
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
}

.container__frame {
    width: 25%;
    height: 75%;
    background-color: #131313;
    margin-right: 11%;
    /*border: 1px solid #e01717;*/
}
.section__frame {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;
    /*border: 1px solid white;*/
}
.section__frame input{
    border: none;
    border-bottom: 1px solid #FFFFFF26;
    background-color: #131313;
    margin-bottom: 15%;
    width: 100%;
}
.text_section {
    width: 50%;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}
.section__input {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85px;
    /*border: 1px solid #ffb9b9;
    margin-right: 5%;*/
}
.section__input-name{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 200;
    line-height: 18px;
    color: #ffffff5e;
    margin-bottom: 2%;
}
.section__input-text::placeholder {
    font-family: Nunito Sans;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    
}
.second-checkbox {
    width: 65%;
    margin-left: 8%;
    margin-top: -5%;
    /*border: 1px solid #dad61c;*/    
}
.section__text_checkbox {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 163.68%;
    color: #FFFFFF;
}
.section__button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 93%;
    height: 12%;
    margin-top: 7%;
    /*border: 1px solid green;*/
}
.section__button {
    border: 0;
    color: white;
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    font-style: normal;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background-color: #E3B873;
    width: 45%;
    height: 100%;
    cursor: pointer;
}
.section__button:hover {
    background-color: #dda750;
}

.container_moneybox-text {
    display: flex;
    flex-direction: row;
    margin-left: 64%;
    margin-top: -7%;
    width: 20%;
}
.moneybox {
    width: 40%;
    height: 40%;
}
.moneybox_text {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #E3B873;
}

.container_group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10% auto;
    max-width: 100%;
    height: 100%;
    background-image: url('images/PNG/image 5.1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
 .container_group::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8));

}
.container_group-grp2 {
    width: 20%;
    
}
.container_group-head {
    width: 80%;
    margin-left: 8%;
}

.design_list {
    list-style: none;
    color:#FFFFFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    
}
.design_list li {
    margin-bottom: 25px;
}
.design_list-castom {
    color: #E3B873;
    text-decoration: 1px underline;
    text-underline-offset: 7px;
}
/**/
.container_group-img {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5%;
    justify-content: center;
    align-content: space-between;
    width: 50%;
    height: 1100px;
    
    /**/
}
.container__group1-img {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    width: 40%;
    height: 105%;
    margin-top: -3%;
    
    /**/
}
.group1-img_castom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    /**/
}
.group1-img {
    width: 100%;
    height: 40%;
    object-fit: contain;
    
    /**/
}

.container__group2-img {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    width: 40%;
    height: 105%;
    margin-top: -5%;
    
   /**/
}  
.group2-img_castom {
    width: 100%;
    height: 60%;
    object-fit: cover;
    
    /**/
}
.group2-img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    
}
/**/
.svg_our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.second_central-text {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: -5%;
    margin-bottom: 0;
    color: #181818;
}
.second_group422 {
    width: 8%;
    margin-top: 0%;
    padding: 1%;
}
.second_text_construction {
    margin-top: 3%;
    width: 20%;
}
/**/
.container_client-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3%;
    height: 1000px;
    background-image: url('images/PNG/backgrond_Group.png'), url('images/PNG/backgrond_mirror.png');
    background-repeat: no-repeat, no-repeat;
    background-size:  50%, 50%;/**/
    background-position: 100% 100%, 0 100%;
}
.client_card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 3%;
    width: 20%;
    height: 470px;
    padding: 1%;
    background-color: #fff;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}
.client__full-name {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    /*border: 1px solid #959595;*/
}
.client__icon {
    border-radius: 50%;
    width: auto;
}
.client__icon img {
    width: 100%;
}
.client__name {
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    width: 70%;
    line-height: 21px;
    color: #181818;
    /*border: 1px solid #c56666;*/
}
.client__comm {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    margin: 0;
    padding: 0;
    color: #959595;
}
.btn_line {
    height: 105%;
}/**/
.client_card__button {
    font-family: Yeseva One;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -5%;
    bottom: -5%;
    width: 85%;
    height: 54px;
    box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
}
.end_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 953px;
    background-image: url('images/PNG/image 7.2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.end_container::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85))
}
.question_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#131313;
    margin-top: -41%;
    height: 420px;
    width: 43%;
}
.central_text {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 7%;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #ffffff;
}
.end-container__input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10%;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 200px;
    /*border: 1px solid #dda750;*/
}

.end__input {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 5%;
}
.end__input input{
    background-color: #131313;
    border: none;
    border-bottom: 1px solid #FFFFFF26;
}
.end-second-checkbox {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    width: 33%;
    /*border: solid 1px #41be30;*/
}
.end__btn {
    width: 75%;
}

.end-center_text {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
    width: 25%;
    color: #E3B873;
}
.end_number {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 25%;
    color: #E3B873;
}
.end_number:hover {
    color:#fad59a;
}
.end-icon_group {
    display: flex;
    flex-direction: row;
    column-gap: 15%;
}
.map {
    width: 45%;
    height: 50%;
    margin-top: 3%;
    margin-bottom: -30%;
    object-fit: cover;
    /*border: 1px solid #2799f7;*/
}


@media (max-width: 1024px) {
    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin: 0 2%;
    }
    .header__ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    .header__ul li {
        margin-right: 30px;
    }
    .number {
        margin-right: 0%;
    }
    .header_btn {
        width: 15%;
        margin-right: 1%;
    }

    /**/
    .home_container {
        width: 55%;
    }
    .title {
        width: 100%;
    }
    .main__text {
        width: 75%;
    }

    .info {
        height: 900px;
    }
    .container__block {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    /**/
    .construction {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: -30%;/**/
    }
    .group45 {
        width: 17%;
    }
    .build_container {
        position: relative;
        display: flex;
        width: 70%;
        height: 434px;
        margin: 0;
        padding: 0;
        background-image: url("images/PNG/image 6.png");
        background-repeat: no-repeat;/**/
    }
    .button_img {
        padding: 0;
        margin-top: -45%;
    }
    .line2 {
        width: 6%;
    }
    .text_construction {
        width: 65%;
    }
    .input_label {
        width: 70%;
    }
    .second_central-text {
        margin-top: 1%; 
    }
    .group422 {
        margin-bottom: 2%;
    }
    /**/
    .product_cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        /*margin-top: 3%;*/
        column-gap: 2%;
        max-width: 1024px;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .card__container {
        position: relative;
        left: 3%;
        width: 95%;
        margin-top: -30%;
    }
    .card_button {
        left: 3%;
    }
    /**/
    .num_list {
        display: flex;
        justify-content: end;
        width: 50%;
        height: 473px;
        margin: 0;
        /*padding: auto 5%;*/
        background-image: url('images/PNG/image 6.11.png');
        background-size: cover 100%;
        background-repeat: no-repeat;
        background-position: center;
        /*border: 1px solid rgb(11, 235, 11);*/
    }
    ol {
        width: 90%;
        margin-left: 0;
        /*border: 1px pink solid;*/
    }
    ol li {
        padding-left: 15%;
    }
    .container__frame {
        width: 40%;
        margin-right: 5%;
    }
    .text_section {
        width: 65%;
        /**/
    }
    .section__button-group {
        height: 10%;
        margin-top: 5%;
        /*border: 1px solid green;*/
    }
    .container_moneybox-text {
        display: flex;
        flex-direction: row;
        margin-left: 55%;
        margin-top: -7%;
        width: 30%;
    }
    .moneybox {
        width: 35%;
        height: 35%;
    }
    /**/
    .container_group {
        height: 100%;
    }
    .container_group-grp2 {
        width: 35%;
        /*border: 1px solid #305292;*/
    }
    .container_group-head {
        width: 80%;
        margin-left: 8%;
    }
    /**/
    .container_group-img {
        height: 100%;
        width: 65%;
    }
    .container__group1-img {
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 45%;
        height: 780px;
        margin-top: -3%;
        margin-bottom: -5%;
        /*border: solid 1px #dda750;
        */
    }
    .group1-img_castom {
        width: 100%;
        height: 1000px;
        object-fit: cover;
        /**/
    }
    .group1-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /**/
    }
    
    .container__group2-img {
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        width: 45%;
        height: auto;
        margin-top: -5%;
       /**/
    }  
    .group2-img_castom {
        width: 100%;
        height: 60%;
        object-fit: cover;
        /**/
    }
    .group2-img {
        width: 100%;
        height: 30%;
        object-fit: contain;
       
    } 
    /**/
    .second_text_construction {
        width: 40%;
    }
    /**/
    .second_group422 {
        width: 12%;
    }
    .container_client-card {
        height: 850px;
        background-image: url('images/PNG/backgrond_Group.png'), url('images/PNG/backgrond_mirror.png');
        background-repeat: no-repeat, no-repeat;
        background-size:  50%, 50%;/**/
        background-position: 100% 100%, 0 100%;
    }
    .client_card {
        width: 30%;
        /*border: 1px solid #48fd00;*/
    }
    .client_card__button{ 
        left: -4%;
    }
    /**/
    .end_container {
        background-image: url('images/PNG/image 7.2.png');
        background-size: 100% contain;
        background-repeat: no-repeat;
    }
    .question_container {
        width: 75%;
    }
    .end-center_text {
        width: 55%;
    }
    .map {
        width: 80%;
    }
}

@media (max-width: 770px) {
    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 15%;
        margin-left: 5%;
        margin-right: 0;
        margin-top: 2%;
    }
    .header__ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        width: 65%;
        overflow: scroll;
    }
    .header__ul li {
        margin-right: 10px;
    }
    .number {
        margin-right: 0%;
        margin-left: -15%;
    }
    .header_btn {
        width: 15%;
        margin-right: 5%;
    }
    /**/
    .home {
        display: flex;
        justify-content: center;
    }
    .home_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0;
        padding-top: 0;
        width: 70%;
    }
    .title {
        width: 100%;
    }
    .main__text {
        width: 75%;
    }
    /**/
    /*.list_chairs {
        border: solid 1px rebeccapurple;
    }*/
    .city_list {
        margin: 0;
    }
    .city_list li {
        display: flex;
        flex-direction: row;
        column-gap: 1px;
        width: 30%;/**/
    }
    .city_list-castom {
        text-decoration: 1px underline;
        text-underline-offset: 4%;
    }
    .chairs__img {
        width: 99%;
        padding-left: 1%;
        margin-top: 5%;
    }
    /**/
    .construction {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: -35%;/**/
    }
    .group45 {
        width: 20%;
    }
    .build_container {
        position: relative;
        display: flex;
        width: 70%;
        height: 360px;
    }
    .button_img {
        padding: 0;
        margin-top: -50%;
    }
    /**/
    .product_cards {
        display: flex;
        flex-direction: column;
        column-gap: 3%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3%;
    }
    .card {
        width: 60%;
    }
    .card__container {
        position: relative;
        left: 0;
        width: 70%;
        margin-top: -40%;
        height: 300px;
    }
    .card_button {
        margin-top: -5%;
        margin-bottom: 10%;
    }
    /**/
    ol {
        margin-left: 0;
        padding-left: 0;
    }
    ol li {
        padding-left: 20%;
    }
    /**/ 
    .container__frame {
        width: 45%;
        margin-right: 1%;
    }
    
    .container_moneybox-text {
        display: flex;
        flex-direction: row;
        margin-left: 55%;
        margin-top: -17%;
        width: 40%;
    }
    /**/
    .container_group-head {
        width: 80%;
        margin-left: 15%;
    }
    .container_group-img {
        height: 100%;
        width: 65%;
    }
    .container__group1-img {
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        margin-top: 5%;
        margin-bottom: 0;
        /*border: solid 1px #eb9409;*/
    }
    .group1-img_castom {
        width: 100%;
        height: 990px;
        /**/
    }
    .group1-img {
        width: 100%;
        height: 30%;
        /*border: solid 1px #10eb09;*/
    }
    
    .container__group2-img {
        display: flex;
        flex-direction: column;
        row-gap: 2%;
        margin-top: -4%;
        /*border: solid 1px #79e711;*/
    }  
    .group2-img {
        width: 100%;
        height: 26%;
        /*border: solid 1px #09b6eb;*/
    } 
    .group2-img_castom {
        width: 100%;
        height: 60%;
    }
    /**/
    .second_group422 {
        width: 15%;
    }
    .container_client-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        column-gap: 10%;
        height: 850px;
        margin-left: 5%;
        background-image: none;
    }
    .client_card {
        width: 45%;
        height: 35%;
        /*border: 1px solid #48fd00;*/
    }
    .client__comm {
        overflow: scroll;
    }
    .client_card__button{ 
        left: -2%;
    }   
    .question_container {
        width: 100%;
    }    
    .map {
        width: 90%;
        height: 40%;
    }
}
@media (max-width: 430px) {
    .logo {
        width: 50%;
    }
    .header__ul {
        display: none;
    }
    .number {
        margin-right: 5%;
        color:#fff;
    }
    .header_btn {
        display: none;
    }
    /**/
    .container_client-card {
        display: none;
    }
    .city_list {
        display: none;
    }
    /**/
    .home_container {
        width: 90%;
    }
    .title {
        font-size: 30px;
    }
    .main__text {
        font-size: 20px;
        width: 100%;
    }
    .main__container_button {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
    }
    .main__button {
        width: 100%;
        height: 40%;
    }
    .container__block {
        height: 1000px;
        display: flex;
        flex-direction: row;
        align-content: start;
        flex-wrap: wrap;
        /*border: 1px solid #27f7d4;*/
    }
    .block {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
    h2 {
        text-align: center;
    }
    .info__text {
        text-align: center;
        width: 95%;
        margin-bottom: 90%;
    }
    .section__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 5%;
        flex-wrap: wrap;
        width: 100%;
        /*border: 1px solid hotpink;*/
    }
    
    .section__list_li {
        width: 45%;
        margin-bottom: 5%;
    }
    
    .list_chairs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -70%;
        margin-left: 2%;
        width: 95%;
        height: 30%;
        /*border: 1px solid #2799f7;*/
    }
    .chairs__img {
        display: none;
    }
    .media__mobile {
        display: inline-block;
    }
    .media__mob-img {
        position: relative;
        width: 100%;
        padding-left: 2%;
        margin-top: 5%;
    }
    .vector_btn {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 1%;
        width: 88%;
        margin-top: -40%;
        margin-left: 4%;
        /*border: solid 1px #eeec64; */
    }
    .vector_img {
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        background-color: #E3B873;
    }
    .vector_img img {
        width: 30%;
    }
    /**/
    .construction {
        background-color: #131313;
        position: relative;
    }
    .group45 {
        margin-top: 15%;
        width: 55%;
    }
    .build_container{
        width: 95%;
        height: 250px;
        background-size: cover;
    }
    .button_img {
        width: 55px;
        height: 55px;
        margin-top: -90%;
    }
    .button_img img {
        width: 25%;
    }
    .line2 {
        width: 15%;
    }
    .text_construction {
        width: 90%;
        font-size: 15px;
        color: #ffffff;
    }
    .input_name {
        color: #FFFFFF80;
    }
    .input_text::placeholder {
        color: #FFFFFF;
    }
    .input_label {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 95%;
        /*border: 1px solid #f00a0a4d;*/
    }
    .input_label input{
        background-color: #131313;
        border: none;
        border-bottom: 1px solid #ffffff46;
        width: 100%;
        margin-bottom: 10%;
    }
    .input {
        margin-right: 0;
        width: 100%;
    }
    .first-checkbox {
        text-align: start;
        width: 100%;
        margin-top: -10%;
        margin-left: 5%;
        margin-bottom: 15%;
    }
    .mob__btn {
        position: absolute;
        display: inline;
        width: 95%;
        margin-bottom: -70%;
    }
    .text_checkbox {
        color: #FFFFFF;
    }
    .cont_group422 {
        margin-bottom: -25%;
    }

    /**/
    .product_cards {
        margin-top: 30%;
        
    }
    .card {
        width: 90%;
        margin-left: 5%;
    }
    .card__container {
        position: relative;
        left: 0;
        width: 80%;
        margin-top: -40%;
        height: 250px;
    }
    .card_button {
        font-size: 15px;
        width: 50%;
        height: 45px;
        margin-top: -5%;
        margin-bottom: 10%;
    }
    /**/
    .container_list {
        display: none;
    }
    .container_moneybox-text {
        display: none;
    }
    .svg_our-clients {
        display: none;
    }
    /**/
    .container_group {
        background-image: none;
    }
    .container_group::after {
        background: none;
    }
    .container_group-grp2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .design_list {
        display: none;
    }
    .container_group-head {
        text-align: center;
        width: 90%;
        height: 30%;
        margin: 0;
    }
    .container_group-img {
        display: none;
    }
    .media__mob_group-img {
        width: 95%;
        padding: 0%;
        margin-top: 5%;
        margin-bottom: -15%;
        margin-left: 2%;
        position: relative;
        z-index: 2;
    }
    .media__mob_group-img img {
        width: 100%;
    }
    .grp2-vectors {
        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 1%;
        width: 90%;
        margin-top: -20%;
        margin-left: 4%;
        position: absolute;
        z-index: 2;
    }
    /**/
    .end_container {
        justify-content: start;
        background-color: #131313;
        background-image: none;
        z-index: 1;
    }
    .end_container::after {
        background: none;
        
    }
    .end-center_text {
        width: 80%;
    }
    .question_container {
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: center;
        height: 450px;
        margin: 0;
        position: relative;
        z-index: 1;
    }
    .central_text {
        margin-bottom: 5%;
    }
    .end-container__input {
        width: 95%;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: start;
    }
    .end__input {
        width: 95%;
        margin-bottom: 7%;
    }
    .end-second-checkbox {
        align-items: start;
        width: 95%;
    }
    .end__btn {
        margin-left: 3%;
        width: 95%;
    }
    .map {
        width: 95%;
        height: 40%;
        object-fit: contain;
    }
}
@media (max-width: 380px) {
    .section__list {
        margin-left: 5%;
    }
    .first-checkbox {
        margin-bottom: 25%;
    }
    .mob__btn {
        margin-bottom: -70%;
    }
    .cont_group422 {
        margin-bottom: -40%;
    }
    .product_cards {
        margin-top: 50%;
    }
}
@media (max-width: 320px) {
    .list_chairs {
        margin-top: -100%;
    }/**/
    .mob__btn {
        margin-bottom: -85%;
    }
    .container_group-grp2 {
        margin-top: -7%;
    }
    .end-center_text {
        font-size: 17px;
        width: 95%;
    }
    .end_number {
        font-size: 17px;
    }
}
